<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /SISE/api/

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^division/([0-9]+)$ division.php?id=$1 [QSA,L]
</IfModule>
